:root {
    --primary: #012a2d;
    --green-light: #17e88f;
    --gray-50: rgba(44, 44, 44, 0.5);
    --dark-gray-90: rgba(155, 155, 155, 0.9);
    --gray: #efefef;
    --white: #ffffff;
    --black: #000000;
    --txt-48px: 48px;
    --txt-36px: 36px;
    --txt-28px: 28px;
    --txt-24px: 24px;
    --txt-20px: 20px;
    --txt-18px: 18px;
    --txt-16px: 16px;
    --txt-14px: 14px;
    --txt-12px: 12px;
}
@font-face {
    font-family: 'calibre-bold';
    src: url('../font/Calibre-Bold.otf') format('opentype');
}  
@font-face {
    font-family: 'calibre-light';
    src: url('../font/Calibre-Light.otf') format('opentype');
} 
@font-face {
    font-family: 'calibre-light-italic';
    src: url('../font/Calibre-LightItalic.otf') format('opentype');
}
@font-face {
    font-family: 'calibre-medium';
    src: url('../font/Calibre-Medium.otf') format('opentype');
}
@font-face {
    font-family: 'calibre-regular';
    src: url('../font/Calibre-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'calibre-regular-italic';
    src: url('../font/Calibre-RegularOtalic.otf') format('opentype');
}
@font-face {
    font-family: 'calibre-semibold';
    src: url('../font/Calibre-Semibold.otf') format('opentype');
  }
body {
    margin: 0;
    padding: 0;
    font-family: 'calibre-regular', sans-serif;
}
.navbar {
    height: 64px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    padding: 8px;
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
}
.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: var(--txt-16px);
}
.navbar, .menu-link {
    transition: background-color 0.4s, color 0.4s;
    -webkit-transition: background-color 0.4s, color 0.4s;
    -moz-transition: background-color 0.4s, color 0.4s;
    -ms-transition: background-color 0.4s, color 0.4s;
    -o-transition: background-color 0.4s, color 0.4s;
}
.menu-item {
    position: static;
    padding: 8px;
}
.svg-arrow {
    padding-left: 2px;
    padding-top: 4px;
    box-sizing: border-box;
}
.menu-link {
    color: var(--white);
    cursor: pointer;
    display: block;
    padding: 16px 0;
    text-decoration: none;
}
.logo-cbre {
    fill: var(--white);
}
.menu-item:hover .menu-link {
    text-decoration: underline;
}
.dropdown-content {
    position: absolute;
    display: flex;
    top: 100%;
    left: 0;
    width: 100vw;
    background-color: var(--gray);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 2.5rem 1.5rem 3.5rem 1.5rem;
    z-index: 1;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transition: opacity 0.4s, transform 0.45s, visibility 0.4s;
    -webkit-transition: opacity 0.4s, transform 0.45s, visibility 0.4s;
    -moz-transition: opacity 0.4s, transform 0.45s, visibility 0.4s;
    -ms-transition: opacity 0.4s, transform 0.45s, visibility 0.4s;
    -o-transition: opacity 0.4s, transform 0.45s, visibility 0.4s;
}
.dropdown-section {
    flex: 1 0 33.33%;
    border-right: 1px solid var(--primary);
    padding-right: 16px;
    box-sizing: border-box;
}
.dropdown-text {
    display: flex;
    flex: 2 0 66.67%;
    padding-left: 2.5rem;
    padding-right: 1rem;
    padding-top: 1rem;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    text-align: justify;
    
}
.dropdown-text.support {
    flex-direction: column;
    padding-top: 0;
}
.dropdown-section-tittle {
    display: flex;
    align-items: center;
    justify-content: start;
}
.img-dropdown-section {
    height: 4rem;
    width: 4rem;
    margin: 0 16px 16px;
}
.dropdown-tittle {
    font-size: var(--txt-48px);
    color: var(--primary);
    margin: 0 0 16px;
}
.dropdown-description { 
    font-size: var(--txt-20px);
    font-family: 'calibre-light';
    font-weight: 500;
    margin: 0;
}
.dropdown-content.language {
    padding: 1.5rem 10rem;
    cursor: pointer;
    justify-content: end;
}
.dropdown-content.language a {
    text-decoration: none;
    color: var(--black);
}
.dropdown-content.language:hover {
    background-color: var(--white);
}
.see-more {
    display: flex;
    align-items: center;
    margin-top: 32px;
}
.see-more-line {
    flex: 0 0 auto;
    width: 56px;
    height: 2px;
    background-color: var(--green-light);
    margin-right: 8px;
}
.see-more-link {
    color: var(--black);
    text-decoration: none;
    cursor: pointer;
}
.contact-item {
    margin: 8px 0;
    font-size: var(--txt-28px);
}
.contact-item strong {
    margin-right: 16px;
    color: var(--primary);
}
.menu-item:hover .dropdown-content {
    display: flex;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
.main-content {
    height: calc(100vh - 64px);
    padding: 0;
    margin: 0;
    background-color: var(--gray);
    box-sizing: border-box;
}
.carousel {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.carousel-images {
    width: 500%;
    height: 100%;
    display: flex;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}
.carousel-image {
    flex: 0 0 20%;
    opacity: 0;
    display: none;
    position: absolute;
    transition: opacity 1s, transform 1s;
    -webkit-transition: opacity 1s, transform 1s;
    -moz-transition: opacity 1s, transform 1s;
    -ms-transition: opacity 1s, transform 1s;
    -o-transition: opacity 1s, transform 1s;
    position: absolute;
}
.carousel-image.active {
    opacity: 1;
    display: block;
}
.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel-controls {
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    display: flex;
    gap: 8px;
}
.carousel-button {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: none;
    background-color: var(--white);
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s ease;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
}
.carousel-button.active {
    opacity: 1;
}
.horizontal-line {
    position: absolute;
    top: 50%;
    left: 10%;
    width: 80%;
    height: 4px;
    background-color: var(--white);
}
.text-box-container {
    position: absolute;
    top: 50%;
    left: 5%;
    right: 5%;
    width: 150%;
    height: 90%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 24px;
    color: var(--white);
    box-sizing: border-box;
}
.text-box {
    background-color: var(--gray-50);
    backdrop-filter: blur(15px);
    max-width: 20%;
    padding: 24px;
    padding-top: 0;
    display: flex;
    flex: 0 0 20%;
    box-sizing: border-box;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    opacity: 0;
    display: none;
    transition: opacity 1s, transform 1s;
    -webkit-transition: opacity 1s, transform 1s;
    -moz-transition: opacity 1s, transform 1s;
    -ms-transition: opacity 1s, transform 1s;
    -o-transition: opacity 1s, transform 1s;
    position: absolute;
}
.text-box-header { 
    font-size: var(--txt-36px);
    margin-bottom: 16px;
    text-align: left;
}
.text-box-content {
    margin-top: 8px;
    text-align: justify;
}
.text-box-content a {
    color: var(--white)
}
.text-box.active {
    opacity: 1;
    display: flex;
}